:root {
    --main-color1: #153C89;
    --main-color2: #722A08;
    --background-color1: #DADAD9;
    --background-color2: #ACECDC;
    --border: 1px solid black;
    --header-font: "Pattaya", sans-serif;
    --main-font: "Red Hat Text", sans-serif;
}

h1,
h2,
h3 {
    font-family: var(--header-font);
}

p {
    font-family: var(--main-font);
}

header {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    border: var(--border);
}

.header-bar {
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: var(--background-color1);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--main-color1);
    margin-left: auto;
}

#menu::before {
    content: "☰";
    color: var(--main-color2);
}

#menu.open::before {
    content: 'X';
    color: var(--main-color2);
}

.open a {
    display: block;
}

.navigation {
    list-style-type: none;
    font-family: var(--main-font);
    display: none;
    flex-direction: column;
}

.navigation.open {
    display: flex;
}

.navigation a {
    text-decoration: none;
    padding: .6rem;
    border: var(--border);
    background-color: var(--background-color2);
    font-size: .6rem;
}

.navigation a.active {
    text-decoration: underline;
    color: var(--background-color2);
    background-color: var(--main-color1);
}

.navigation a:hover,
.cta:hover {
    color: var(--background-color2);
    background-color: var(--main-color2);
}

.logo {
    border: var(--border);
    background-color: var(--background-color2);
    padding: 10px;
    max-width: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color2);
    font-size: 0.6rem;
}

.title h1,
.title p {
    margin: 0;
}

.hero {
    display: inline-block;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



main {
    max-width: 900px;
    margin: 0 auto;
}

footer {
    display: grid;
    font-size: .6rem;
    align-items: center;
    border: var(--border);
    background-color: var(--background-color2);
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
}