@media (min-width: 480px) {
    .navigation {
            display: flex;
            flex-direction: row;
        }

    footer {
        max-width: 800px;
        display: flex;
        flex-direction: row;
        justify-content:  space-between;
        align-items: center;
        font-size: 0.8rem;
    }

}