@media (min-width: 480px) {
    .navigation {
            display: flex;
            flex-direction: row;
        }
    
    #menu {
        display: none;
    }

    .header-bar {
        align-items: end;
    }

    .logo {
        font-size: 1.2rem;
        max-width: 150px;
        width: 100%;
    }

    footer {
        max-width: 900px;
        display: flex;
        flex-direction: row;
        justify-content:  space-between;
        align-items: center;
        font-size: 0.8rem;
    }

}