:root {
    --main-color1: #153C89;
    --main-color2: #722A08;
    --background-color1: #DADAD9;
    --background-color2: #ACECDC;
    --border: 1px solid black;
    --header-font: "Pattaya", sans-serif;
    --main-font: "Red Hat Text", sans-serif;
}

.view {
    margin: 1rem auto;
    border: var(--border);
    padding: 0.5rem;
    background-color: var(--background-color1);
    text-align: center;
}

.view button {
    padding: 1rem;
    font-weight: 700;
    font-family: var(--main-font);
    color: var(--main-color1);
}

.grid .cards {
    border: var(--border);
    padding: 0.5rem;
    background-color: var(--background-color1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;

}

#cards {
    min-height: 400px;
}

.star-level-1 {
    color: #B87333;
    background-color: black;
    font-size: 1.5rem;
}

.star-level-2 {
    color: #C0C0C0;
    background-color: black;
    font-size: 1.5rem;
}

.star-level-3 {
    color: #FFD700;
    background-color: black;
    font-size: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    border: var(--border);
}

.grid .card {
    border: var(--border);
}

.grid .card-top {
    display: flex;
    flex-direction: row;
    border-bottom: var(--border);
    place-items: center;
    background-color: var(--background-color2);
}

.grid .card-bottom {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color1);
}

.grid section {
    text-align: center;
}

.grid img {
    border: var(--border);
}

.grid h2 {
    font-size: 1.2rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem 0.5rem;
    align-items: center;
    font-size: 0.9rem;
    line-height: 1;
    border: var(--border);
}

.list section>* {
    margin: 0;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
    background-color: var(--background-color2);
}

.list section:nth-child(odd) {
    background-color: var(--background-color1);
}