:root {
    --main-color1: #153C89;
    --main-color2: #722A08;
    --background-color1: #DADAD9;
    --background-color2: #ACECDC;
    --border: 1px solid black;
    --header-font: "Pattaya", sans-serif;
    --main-font: "Red Hat Text", sans-serif;
}

#placeCards div {
    border: var(--border);
    border-radius: 20px;
    margin: 20px;
    background-color: var(--background-color1);
    overflow: hidden;
    padding-bottom: 20px;
    display: grid;
    grid-template-areas: 
    "name"
    "image"
    "description"
    "address"
    "button";
    
}

#placeCards h2 {
    grid-area: name;
    color: var(--main-color1);
    background-color: var(--background-color2);
    padding: 10px;
}

#placeCards img {
    height: 200px;
    grid-area: image;
}

#placeCards p {
    grid-area: description;
    color: var(--main-color2);
}

#placeCards address {
    grid-area: address;
    color: var(--main-color2);
}

#placeCards button {
    width: 200px;
    padding: 5px;
    margin: 5px;
}