:root {
    --main-color1: #153C89;
    --main-color2: #722A08;
    --background-color1: #DADAD9;
    --background-color2: #ACECDC;
    --border: 1px solid black;
    --header-font: "Pattaya", sans-serif;
    --main-font: "Red Hat Text", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color1);
    border: var(--border);
}

form input,
form textarea,
form select {
    margin-bottom: 25px;
    max-width: 400px;
    height: 25px;
}

label {
    font-family: var(--main-font);
    color: var(--main-color2);
}

.membership-level {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

button {
    background-color: var(--background-color2);
    color: var(--main-color2);
    height: 44px;
}

form button {
    min-width: 100px;
    margin-bottom: .75rem;
    color: var(--main-color1);
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--background-color1);

    border: var(--border);
}

.np-card,
.bronze-card,
.silver-card,
.gold-card {
    border: var(--border);
    padding: .75rem;
    text-align: center;
    background-color: var(--main-color1);
    color: var(--background-color2);
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }

}

#np-card,
#bronze-card,
#silver-card,
#gold-card {
    animation: breathe 2s ease-in-out infinite;
    transition: transform 0.3s ease;
}