@media (min-width: 480px) {
    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: auto;
    }

    nav ul li {
        width: 100%;
    }

  .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      justify-content: start;
      width: fit-content;
      margin-left: 0;
      margin-right: auto;
  }

    .certificate {
    grid-column: 1/3;
    }

    #filters button {
        margin: 0 10px;
        font-size: 1.5rem;
    }

    #course-tiles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        justify-items: start;
        justify-content: start;
        width: 100%;
        margin-left: 0;
        margin-right: auto;
    }

    .tile {
        height: 100px;
    }
}